---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import "@fontsource/dm-sans";
import "@fontsource-variable/space-grotesk";
import "@fontsource-variable/rubik";
import { formatDate } from "@/utils/date";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  author,
  published,
  updated,
  tags,
  image,
  alt,
  draft,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-gray-100 sm:px-4">
    <main
      class="mx-auto max-w-4xl rounded-lg bg-white p-8 sm:my-16 sm:p-16 lg:p-20"
    >
      <article class="space-y-6 font-blog-text">
        <h1 class="font-blog-title text-7xl">{title}</h1>
        <p class="text-2xl">{description}</p>
        {
          image && (
            <img
              width={1920}
              height={1080}
              class="mx-auto mb-16 rounded-xl shadow-md"
              src={image}
              alt={alt}
            />
          )
        }
        <div class="flex justify-between gap-8 text-gray-800">
          <div>
            <time class="text-2xl">
              {formatDate(published)}
            </time>
            {
              updated && (
                <p>
                  Last updated on <time>{formatDate(published)}</time>
                </p>
              )
            }
          </div>
          <p class="text-end text-2xl">By {author}</p>
        </div>
        {
          tags && tags.length > 0 && (
            <div class="flex flex-wrap items-center gap-1">
              <p class="mr-2 font-bold">Tags:</p>
              {tags.map((tag) => (
                <p class="leading-sm inline-flex items-center rounded-full bg-primary-600 px-3 py-1 text-xs font-bold uppercase text-white">
                  {tag}
                </p>
              ))}
            </div>
          )
        }
        <hr />
        <div
          class="prose prose-gray space-y-4 py-8 prose-h5:prose-xl lg:prose-xl xl:prose-2xl prose-headings:font-blog-heading prose-headings:font-bold prose-h1:mb-0 prose-h1:text-6xl prose-h2:text-5xl prose-h3:text-4xl prose-h4:text-3xl prose-h5:text-2xl prose-h6:text-xl prose-p:font-blog-text prose-p:text-lg prose-p:leading-relaxed"
        >
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
